<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RabbitMQ Flask App - Started @ {{ build_start }}</title>
</head>
<body>
    <h1>RabbitMQ Flask App</h1>
    <form action="/send_message" method="post">
        <label for="message">Enter Message:</label>
        <input type="text" id="message" name="message" required>
        <button type="submit">Send Message to Queue</button>
    </form>
</body>
</html>
